*{
    margin: auto;
    padding: 0px;
} 


#container{
    width: 1800px;
    height: auto;
    border: 0px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    margin-bottom: 150px;
}


.menu{
    width: 1800px;
    height: 20px;
    border: 0px solid black;
    margin-top: 0px;
}

.menu .name{
    width: 500px;
    height: 20px;
    border: 0px solid black;
    float: left;
    margin-right: 100px;
    
}

.menu .link{
    width: 270px;
    height: 20px;
    border: 0px solid black;
    float: left;
    text-align: end;
}

#connect{
    width: 1000px;
    height: 2410px;
    border: 0px solid black;
}


.product{
    width: 400px;
    height: 180px;
    border: 0px solid black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 100px;
}


.box{
    width: 900px;
    height: 20px;
    border: 0px solid black;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
}

.box .article1{
    width: 450px;
    height: 20px;
    border: 0px solid black;
    float: left;
    text-align: end;
}

.box .article2{
    width: 445px;
    height: 20px;
    border: 0px solid black;
    float: left;
    text-align: start;
    border-top: 10px;
    border-bottom: 20px;
}

.showcase{
    width: 900px;
    height: 100px;
    border: 0px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}


.showcase .fire{
    width: 290px;
    height: 100px;
    border: 0px solid black;
    float: left;
    background-color: lightgray;
    background-image: url(../images/stock6.jpg);
    background-repeat: no-repeat;
    background-size: 15%;
    border-top: 10px;
    border-bottom: 20px;
    text-align: end;
}

    
.showcase .fire2{
    width: 290px;
    height: 100px;
    border: 0px solid black;
    float: left;
    background-image: url(../images/stock3.jpg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-color: lavenderblush;
    margin-left: 10px;
    border-top: 10px;
    border-radius: 5px;
}

.showcase .fire3{
    width: 290px;
    height: 100px;
    border: 0px solid black;
    float: left;
    margin-left: 10px;
    border-top: 10px;
    background-image: url(../images/stock2.jpg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-color: lightcyan;
}


.slide{
    width: 900px;
    height: 80px;
    border: 0px solid black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.water{
    width: 900px;
    height: 350px;
    border: 1px solid black;
    margin-top: 10px;
    /* background-color: lightblue; */
    margin-bottom: 15px;
}

.water .sand{
    width: 450px;
    height: 348px;
    border: 0px solid black;
    background-color: lightcyan;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border-bottom: 15px;
    /* padding: 15px; */
}


.water .sand1{
    width: 450px;
    height: 100px;
    border: 0px solid black;
}
.water .sand2{
    width: 420px;
    height: 218px;
    border: 1px solid black;
    /* background-image: url(../images/stock.jpg); */
    background-repeat: no-repeat;
    /* background-size: auto; */
}


.water .mouse{
    width: 400px;
    height: 348px;
    border: 0px solid black;
    background-color: lightcyan;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.water .mouse1{
    width: 400px;
    height: 100px;
    border: 0px solid black;
}

.water .mouse2{
    width: 400px;
    height: 248px;
    border: 0px solid black;
    background-image: url(../images/stock3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}   


.water{
    width: 900px;
    height: 350px;
    border: 0px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.water .sand{
    width: 450px;
    height: 348px;
    border: 0px solid black;
    background-color: lightcyan;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border-bottom: 15px;
    
}

.water .sand1{
    width: 450px;
    height: 100px;
    border: 0px solid black;
}
.water .sand2{
    width: 450px;
    height: 248px;
    border: 0px solid black;
    background-image: url(../images/stock.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.water .mouse{
    width: 400px;
    height: 348px;
    border: 0px solid black;
    background-color: lightcyan;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border-bottom: 30px;
}

.water .mouse1{
    width: 400px;
    height: 100px;
    border: 0px solid black;
}

.water .mouse2{
    width: 400px;
    height: 248px;
    border: 0px solid black;
    background-image: url(../images/stock3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}   


.standard{
    width: 900px;
    height: 350px;
    border: 0px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.standard .deviation{
    width: 450px;
    height: 348px;
    border: 0px solid black;
    background-color: lightcyan;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border-bottom: 15px;
}


.standard .deviation1{
    width: 450px;
    height: 100px;
    border: 0px solid black;
    background-color: lavenderblush;
    border-radius: 15px;
    border-bottom: 15px;
}
.standard .deviation2{
    width: 450px;
    height: 248px;
    border: 0px solid black;
    background-image: url(../images/stock4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.standard .mouth{
    width: 400px;
    height: 348px;
    border: 0px solid black;
    background-color: lightcyan;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border-bottom: 15px;
}

.standard .mouth1{
    width: 400px;
    height: 100px;
    border: 0px solid black;
}

.standard .mouth2{
    width: 400px;
    height: 248px;
    border: 0px solid black;
    background-image: url(../images/stock6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}   


   
.school{
    width: 900px;
    height: 350px;
    border: 0px solid black;
    margin-top: 5px;
    margin-bottom: 15px;
}

.school .level{
    width: 450px;
    height: 348px;
    border: 0px solid black;
    background-color: lightcyan;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border-bottom: 15px;
}


.school .level1{
    width: 450px;
    height: 100px;
    border: 0px solid black;
}
.school .level2{
    width: 450px;
    height: 248px;
    border: 0px solid black;
    background-image: url(../images/stock3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.avacademy{
    width: 900px;
    height: 100px;
    border: 0px solid black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.footer{
    width: 900px;
    height: 200px;
    border: 0px solid black;
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: black;
    margin-left: 50px;
    margin-right: 0px;
    text-align: start;
    border-radius: 10px;
}

.footer .foot1{
    width: 450px;
    height: 200px;
    border: 0px solid black;
    float: left;
    margin-left: 10px;
    margin-right: 23px;
    color: white;
    text-align: left;
    padding: 10px;
}

.footer .foot2{
    width: 300px;
    height: 150px;
    border: 0px solid black;
    float: left;
    margin-top: 50px;
    border-radius: 10px;
    background-image: url(../images/stock3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 113px;
    margin-right: 0px;
    text-align: start;

}


.service{
    width: 900px;
    height: 200px;
    border: 0px solid black;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: black;
    margin-left: 50px;
    margin-right: 0px;
    border-radius: 10px;
}

.service .rendered1{
    width: 450px;
    height: 200px;
    border: 0px solid black;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    color: white;
    padding: 10px;
}

.service .rendered2{
    width: 340px;
    height: 150px;
    border: 0px solid black;
    float: left;
    margin-top: 50px;
    background-image: url(../images/stock.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 73px;
    border-radius: 10px;
}

#cont{
    width: 1500px;
    height: 310px;
    border: 0px solid black;
    margin-top: 50px;
    margin-bottom: 30px;
}
.end{
    width: 1500px;
    height: 310px;
    border: 0px solid black;
    background-color: blueviolet
}

.break{
    width: 1500px;
    height: 310px;
    border: 0px solid black;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.end .break1{
    width: 300px;
    height: 280px;
    border: 0px solid black;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 5px;
    padding: 20px;
}

.end .break2{
    width: 300px;
    height: 280px;
    border: 0px solid black;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 5px;
    color: white;
    padding: 20px;
}

.end .break3{
    width: 300px;
    height: 280px;
    border: 0px solid black;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 5px;
    color: white;
    padding: 20px;
}

.end .break4{
    width: 300px;
    height: 280px;
    border: 0px solid black;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 5px;
    color: white;
    padding: 20px;
}

.end .break5{
    width: 190px;
    height: 280px;
    border: 0px solid black;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 5px;
    padding: 10px;
}


.start{
    width: 1300px;
    height: 30px;
    border: 0px solid black;
    text-align: center;
}


#contain{
    width: 1650px;
    height: 45px;
    border: 0px solid black;
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
    font-style: normal;
}

.header{
    width: 1650px;
    height: 45px;
    border: 0px solid black;
}

.header .logo{
    width: 700px;
    height: 45px;
    border: 0px solid black;
    float: left;
}

.header .navbar{
    width: 230px;
    height: 45px;
    border: 0px solid black;
    float: left;
    text-align: end;
}


#con{
    width: 1000px;
    height: 1840px;
    border: 0px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.theory{
    width: 620px;
    height: 130px;
    border: 0px solid black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}


.vision{
    width: 1000px;
    height: 268px;
    border: 0px solid black;
    margin-top: 100px;
    margin-bottom: 50px;
}

.vision1{
    width: 450px;
    height: 268px;
    border: 0px solid black;
    background-image: url(../images/imgss_files/payvantage1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    float: left;
}

.vision2{
    width: 430px;
    height: 246px;
    border: 0px solid black;
    float: left;
    margin-left: 30px;
    margin-right: 20px;
    padding: 10px;
}

.motto{
    width: 1000px;
    height: 268px;
    border: 0px solid black;
    margin-top: 70px;
    margin-bottom: 50px;
}

.mission1{
    width: 430px;
    height: 246px;
    border: 0px solid black;
    float: left;
    margin-left: 30px;
    margin-right: 20px;
    padding: 10px;
}


.mission2{
    width: 450px;
    height: 268px;
    border: 0px solid black;
    background-image: url(../images/imgss_files/payvantage1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    float: left;
}

.objective{
    width: 1000px;
    height: 300px;
    border: 0px solid black;
    margin-top: 70px;
    margin-bottom: 50px;
}


.objective1{
    width: 300px;
    height: 280px;
    border: 0px solid black;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}


.objective1 .picture{
    width: 140px;
    height: 130px;
    border: 0px solid black;
    margin-top: 60px;
    margin-left: 167px;
    background-image: url(../images/payvantage12.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
}


.objective2{
    width: 280px;
    height: 280px;
    border: 0px solid black;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lavenderblush;
    padding: 10px;
    border-radius: 10px;
}


.objective2 .picture{
    width: 140px;
    height: 130px;
    border: 0px solid black;
    margin-top: 85px;
    margin-left: 150px;
    margin-right: 0px;
    background-image: url(../images/payvantage13.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;

}



.objective3{
    width: 290px;
    height: 278px;
    border: 0px solid black;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightgray; 
    padding: 10px;
}


.objective3 .picture{
    width: 130px;
    height: 130px;
    border: 0px solid black;
    margin-top: 38px;
    margin-right: 0px;
    background-image: url(../images/payvantage14.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 170px;
}



.table{
    width: 1000px;
    height: 150px;
    border: 0px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}


.table .division1{
    width: 300px;
    height: 150px;
    border: 0px solid black;
    float: left;
    background-color: lightgray;
    background-image: url(../images/stock6.jpg);
    background-repeat: no-repeat;
    background-size: 15%;
    border-top: 10px;
    border-bottom: 20px;
    text-align: end;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

    
.table .division2{
    width: 300px;
    height: 150px;
    border: 0px solid black;
    float: left;
    background-image: url(../images/stock3.jpg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-color: lavenderblush;
    margin-left: 10px;
    border-top: 10px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

.table .division3{
    width: 300px;
    height: 150px;
    border: 0px solid black;
    float: left;
    margin-left: 10px;
    border-top: 10px;
    background-image: url(../images/stock2.jpg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-color: lightcyan;
    margin-left: 15px;
    margin-right:15px;
    border-radius: 10px;
}


.booking{
    width: 1000px;
    height: 300px;
    border: 0px solid black;
    margin-top: 90px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 10px;
}


.booking .book1{
    width: 600px;
    height: 280px;
    border: 0px solid black;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    color: white;
    padding: 10px;
}


.booking .book2{
    width: 300px;
    height: 130px;
    border: 0px solid black;
    float: left;
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 20px;
}


#co{
    width: 1800px;
    height: 333px;
    border: 0px solid black;
}

.value{
    width: 1780px;
    height: 325px;
    border: 0px solid black;
    margin-top: 0px;
    background-color: blueviolet;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
} 

.value1{
    width: 310px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 25px;
    padding: 20px;
}


.value2{
    width: 310px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    padding: 20px;
}

.value3{
    width: 310px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    padding: 20px;
}

.value4{
    width: 310px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    padding: 20px;
}

.value5{
    width: 290px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

#c{
    width: 1600px;
    height: 45px;
    border: 0px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}


.navigator{
    width: 1600px;
    height: 45px;
    border: 0px solid black;
}


.navigator .logo2{
    width: 700px;
    height: 45px;
    border: 0px solid black;
    float: left;
}


.navigator .nav{
    width: 220px;
    height: 45px;
    border: 0px solid black;
    float: left;
    text-align: end;
}


#container3{
    width: 1000px;
    height: 400px;
    border: 0px solid black;
    margin-top: 80px;
}

.program{
    width: 1000px;
    height: 180px;
    border: 1px solid black;
    border-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}


.program2{
    width: 1000px;
    height: 180px;
    border: 1px solid black;
    border-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}



#contact{
    width: 1780px;
    height: 330px;
    border: 0px solid black;
    margin-top: 100px;
}

.slider{
    width: 1780px;
    height: 325px;
    border: 0px solid black;
    background-color: blueviolet;
    margin-left: 0px;
    margin-top: 0px;
} 

.slider1{
    width: 310px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
}


.slider2{
    width: 310px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    padding: 40px;
}

.slider3{
    width: 310px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    padding: 40px;
}

.slider4{
    width: 310px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    padding: 40px;
}

.slider5{
    width: 300px;
    height: 310px;
    border: 0px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
}

